@include large {
    .countries__grid {
        grid-template-columns: repeat(3,minmax(150px, 1fr));
    }
};
@include medium {
    .App{
        min-height: 120vh;
    }
    .countries__grid {
        grid-template-columns: repeat(2,minmax(150px, 1fr));
    }
    .country{
        width: 300px;
        height: 300px;
    }
    .search{
        width: 250px;
    }
    .country-page{
        flex-direction: column; 
        &-img{
            width: 400px;
        }
    }
};

@include small {
    .navbar h2{
        font-size: 1.2rem;
    }
    .countries__grid {
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
    }
    .searchAndFilter{
        gap:20px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .country-page{
        margin:20px 30px;
        &-right{
            width: 100%;
        }
        display: flex;
        align-items:baseline;
        font-size: 1rem;
        &-img{
            width: 100%;
        }
        &-info{
            flex-direction: column;
             &-1{
                gap: 10px;
            }
            &-2{
                gap: 10px;
            }
        }
    }
    .border-countries{
        display: flex;
        flex-direction: column
    }
    .back-btn{
        margin-left: 30px
    }
};



